<div class="control-group">
  <label for="preview" class="control-label">Preview</label>
  <div class="controls">
    <%- contentTag('input', song.preview, {type:'text', class:'span6', name:'preview'}) %>
  </div>
</div>
<div class="control-group">
  <label for="file" class="control-label">File</label>
  <div class="controls">
    <%- contentTag('input', song.file, {type:'text', class:'span6', name:'file'}) %>
  </div>
</div>

<div class="control-group">
  <label for="title" class="control-label">Title</label>
  <div class="controls">
    <%- contentTag('input', song.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>

<div class="control-group">
  <label for="track" class="control-label">Track</label>
  <div class="controls">
    <%- contentTag('input', song.track, {type:'text', class:'span6', name:'track'}) %>
  </div>
</div>

<div class="control-group">
  <label for="productId" class="control-label">Product ID</label>
  <div class="controls">
    <%- contentTag('input', song.productId, {type:'text', class:'span6', name:'productId'}) %>
  </div>
</div>